<section id="SECTION_2">
	<div id="DIV_3">
		<div id="DIV_4">
			<p id="P_1">
				Thông số kỹ thuật Tai nghe Bluetooth AirPods Pro Wireless Charge Apple MWP22
			</p>
		</div>
	</div>
</section>
<section id="SECTION_57">
	<div id="DIV_58">
		<div id="DIV_59">
			<div id="DIV_1">
				<ul id="UL_2">
					<li id="LI_3">
						<p id="P_4">
							Thời gian sử dụng
						</p>
						<div id="DIV_5">
							 <span id="SPAN_6">4.5 giờ</span>
						</div>
					</li>
					<li id="LI_7">
						<p id="P_8">
							Thời gian sạc đầy
						</p>
						<div id="DIV_9">
							 <span id="SPAN_10">2 giờ</span>
						</div>
					</li>
					<li id="LI_11">
						<p id="P_12">
							Cổng sạc
						</p>
						<div id="DIV_13">
							 <span id="SPAN_14">Lightning</span> <span id="SPAN_15">Sạc không dây</span>
						</div>
					</li>
					<li id="LI_16">
						<p id="P_17">
							Công nghệ âm thanh
						</p>
						<div id="DIV_18">
							 <span id="SPAN_19">Active Noise Cancellation</span> <span id="SPAN_20">Adaptive EQ</span>
						</div>
					</li>
					<li id="LI_21">
						<p id="P_22">
							Tương thích
						</p>
						<div id="DIV_23">
							 <span id="SPAN_24">Android</span> <span id="SPAN_25">iOS (iPhone)</span>
						</div>
					</li>
					<li id="LI_26">
						<p id="P_27">
							Tiện ích
						</p>
						<div id="DIV_28">
							 <span id="SPAN_29">Chống ồn</span> <span id="SPAN_30">Chống nước</span> <span id="SPAN_31">Mic đàm thoại</span>
						</div>
					</li>
					<li id="LI_32">
						<p id="P_33">
							Kết nối cùng lúc
						</p>
						<div id="DIV_34">
							 <span id="SPAN_35">1 thiết bị</span>
						</div>
					</li>
					<li id="LI_36">
						<p id="P_37">
							Hỗ trợ kết nối
						</p>
						<div id="DIV_38">
							 <span id="SPAN_39">10 m (Bluetooth 5.0)</span>
						</div>
					</li>
					<li id="LI_40">
						<p id="P_41">
							Phím điều khiển
						</p>
						<div id="DIV_42">
							 <span id="SPAN_43">Mic thoại</span> <span id="SPAN_44">Nghe/nhận cuộc gọi</span> <span id="SPAN_45">Phát/dừng chơi nhạc</span> <span id="SPAN_46">Chuyển bài hát</span>
						</div>
					</li>
					<li id="LI_47">
						<p id="P_48">
							Thương hiệu của
						</p>
						<div id="DIV_49">
							 <span id="SPAN_50">Mỹ</span>
						</div>
					</li>
				</ul> 
			</div>
		</div>
	</div>
</section>