<section id="SECTION_2">
	<div id="DIV_3">
		<div id="DIV_4">
			<p id="P_1">
				Thông số kỹ thuật Thẻ nhớ MicroSD 128 GB Class 10
			</p>
		</div>
	</div>
</section>
<section id="SECTION_19">
	<div id="DIV_20">
		<div id="DIV_21">
			<div id="DIV_1">
				<ul id="UL_2">
					<li id="LI_3">
						<p id="P_4">
							Loại thẻ
						</p>
						<div id="DIV_5">
							 <span id="SPAN_6">Thẻ Micro SD</span>
						</div>
					</li>
					<li id="LI_7">
						<p id="P_8">
							Dung lượng
						</p>
						<div id="DIV_9">
							 <span id="SPAN_10">128 GB</span>
						</div>
					</li>
					<li id="LI_11">
						<p id="P_12">
							Tốc độ đọc dữ liệu
						</p>
						<div id="DIV_13">
							 <span id="SPAN_14">45 MB/s</span>
						</div>
					</li>
					<li id="LI_15">
						<p id="P_16">
							Tốc độ ghi dữ liệu
						</p>
						<div id="DIV_17">
							 <span id="SPAN_18">10 MB/s</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>